@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-VariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'League Spartan', sans-serif;
    }
}
